<!-- Add jQuery and other scripts -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src={{ "/assets/js/jquery-1.11.2.min.js" | relative_url }}><\/script>')</script>
<script src="{{ '/assets/js/dropcap.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/responsive-nav.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/scripts.js' | relative_url }}"></script>

<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

<script>
document.addEventListener("DOMContentLoaded", function () {
  new Typed("#typed", {
    strings: ["Re-written."],
    typeSpeed: 80,
    backSpeed: 50,
    backDelay: 1000,
    loop: true
  });
});
</script>
